* {
  margin: 0;
  padding: 0;
}
#box {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  gap: 5px;
  position: absolute;
  top: 10px;
  left: 20px;
}
button {
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: orange;
  height: 2em;
}
button:hover {
  background-color: aqua;
  font-weight: bold;
}
#container {
  position: absolute;
  top: 10px;
  left: 400px;
  background-color: mediumaquamarine;
  width: 40%;
  height: 2em;
  border-radius: 5px;
  text-align: center;
  padding-top: 1em;
  font-weight: bolder;
}
