body {
  margin: 0.4em;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
input {
  width: 90%;
  height: 20%;
  padding: 5px 10px;
}
button {
  height: 30%;
  width: 20%;
  background-color: #5f9341;
  border: none;
  font-weight: bold;
  color: white;
}

ul {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0;
  padding: 0;
}
li {
  padding: 2px 0 0 0;
}
a {
  color: #5f9341;
}
